#formDetailId div label.textColorYellow{
	color: #fed136
}
#displayDiv{
	margin-top:18px;
	display: none;
	/* background-color: white; */
	width: 1085px;
    margin-left: 275px;
    height: 15em;
}

div#displayDiv div.noPadding{

	background-color: #4c4c4c;
	color: #FED136;
	font-family: "Brush Script MT", cursive;
	font-size:35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	
}

div#displayDiv div#result{
	
	
	
}